<footer class="page-footer">
  <div class="page-footer__container container">
    <a class="page-footer__logo" href="/">
      <svg class="footer-logo" width="102" height="34"><use xlink:href="#logo-footer"></use></svg>
    </a>

    <section class="page-footer__social social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link social__link--instagram" href="https://instagram.com" target="_blank">
            <span class="visually-hidden">Переход на аккаунт в Инстаграме</span>
            <svg class="social__icon" width="22" height="21"><use xlink:href="#icon-insta"></use></svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--facebook" href="https://facebook.com" target="_blank">
            <span class="visually-hidden">Переход на аккаунт в Фейсбуке</span>
            <svg class="social__icon" width="15" height="29"><use xlink:href="#icon-fb"></use></svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link social__link--twitter" href="https://vk.com" target="_blank">
            <span class="visually-hidden">Переход на аккаунт Твиттер</span>
            <svg class="social__icon" width="24" height="22"><use xlink:href="#icon-twitter"></use></svg>
          </a>
        </li>
      </ul>
    </section>

    <section class="page-footer__copyright copyright">
      <a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive" title="HTML Academy" target="_blank">
        <span class="copyright__text">Разработано</span>
        <span class="visually-hidden">Переход на страницу разработчика</span>
        <svg class="copyright__icon" width="27" height="34"><use xlink:href="#logo-htmlacademy"></use></svg>
      </a>
    </section>
  </div>
</footer>
