<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="preload" href="fonts/opensans.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/opensans.woff2" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/opensansbold.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="fonts/opensansbold.woff2" as="font" crossorigin="anonymous">


<link rel="stylesheet" href="css/style.min.css">
