<div class="overlay">
  <div class="modal">
    <h2 class="modal__title">Добавить в&nbsp;корзину</h2>
    <form class="modal__form" action="https://echo.htmlacademy.ru" method="post">
      <p class="modal__text">Выберите размер</p>
      <ul class="modal__size-list">
        <li class="modal__size-item">
          <input class="modal__input visually-hidden" id="input-s" type="radio" name="size" value="S">
          <label class="modal__label" for="input-s">S</label>
        </li>
        <li class="modal__size-item">
          <input class="modal__input visually-hidden" id="input-m" type="radio" name="size" value="M">
          <label class="modal__label" for="input-m">M</label>
        </li>
        <li class="modal__size-item">
          <input class="modal__input visually-hidden" id="input-l" type="radio" name="size" value="L">
          <label class="modal__label" for="input-l">L</label>
        </li>
      </ul>

      <button class="modal__btn btn" type="submit">Добавить</button>
    </form>
  </div>
</div>
