.btn {
  &:hover {
    color: $lightText;
    background-color: $grayText;
  }

  &:active {
    color: rgba($lightText, $activeOpacity);
    background-color: $grayText;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  padding: 10px;

  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: $grayText;
  border: 2px solid $grayText;
  cursor: pointer;

  @include transition;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    margin: 0 auto;

    font-size: 17px;
    line-height: 20px;
  }
}
