.contact {
  position: relative;

  padding: 36px 0 0;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }
}

.contact__info {
  &::before {
    @media (min-width: $tablet-width) {
      @include pseudo;
      top: -15px;
      right: 3px;

      width: 47px;
      height: 81px;

      background: url("../img/svg/icon-flag.svg") no-repeat center;
    }
  }

  position: relative;
}

.contact__title {
  margin-bottom: 26px;

  @media (max-width: $tablet-width - 1) {
    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }
}

.contact__description {
  width: 100%;
  margin-bottom: 37px;
  font-size: 15px;
  line-height: 30px;

  color: $grayText;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;

    font-size: 17px;
  }
}

.contact__description tbody {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.contact__description tr {
  flex-basis: 50%;
}

.contact__email {
  &:hover {
    &::after {
      background-color: $mainColorDarker;
    }

    color: $mainColorDarker;
  }

  &:active {
    &::after {
      opacity: 0.8;
    }

    opacity: $activeOpacity;
  }

  @include customUnderline(#62d1ba);

  position: relative;

  display: inline-block;

  text-decoration: none;

  color: $grayText;
}

.contact__key {
  min-width: 75px;
  padding-bottom: 30px;

  vertical-align: top;

  @media (min-width: $tablet-width) {
    min-width: 77px;
  }
}

.contact__value {
  vertical-align: top;
}

.contact__address {
  font-style: normal;
}

.contact__map {
  position: relative;

  margin-bottom: 39px;

  &::after {
    content: "";

    @include center(195px, 171px);
    @include size(67px, 100px);

    background: url("../img/svg/icon-map-pin.svg") no-repeat center;

    @media (min-width: $tablet-width) {
      top: 190px;
      left: 390px;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.contact__map-img {
  display: block;
  height: 457px;
  object-fit: cover;
}

.contact__link-wrapper {
  display: flex;
  justify-content: center;
}

.contact__link {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 230px;
  }
}
