.copyright {
  display: flex;
  justify-content: center;
}

.copyright__link {
  &:active {
    opacity: $activeOpacity;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  color: $darkText;
}

.copyright__text {
  margin-right: 30px;

  font-size: 19px;
  font-weight: 700;
  line-height: 25px;
}

.copyright__icon {
  @include size(27px, 34px);

  fill: $mainColor;

  .copyright__link:hover &,
  .copyright__link:active {
    fill: $mainColorDarker;
  }
}
