.form__group {
  &::before {
    @include pseudo;
    top: 11px;
    right: $mobile-pads;

    width: 198px;
    height: 1px;

    background-color: #62d1ba;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  position: relative;

  margin-bottom: 29px;

  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-bottom: 53px;

    border: none;
  }

  &--radio {
    margin-bottom: 41px;

    @media (min-width: $tablet-width) {
      margin-bottom: 69px;
    }
  }

  &--checkbox {
    margin-bottom: 39px;

    @media (min-width: $tablet-width) {
      padding-top: 65px;
      padding-bottom: 11px;
      margin-bottom: 58px;
    }
  }

  &--name {
    margin-bottom: 28px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }
  }

  &--gray-bg {
    @media (min-width: $tablet-width) {
      background-color: #f1f1f1;
    }
  }

  &--phone {
    @media (min-width: $tablet-width) {
      padding-top: 65px;
      padding-bottom: 20px;
      margin-bottom: 0;
    }
  }

  &--mail {
    @media (min-width: $tablet-width) {
      padding-top: 18px;
      padding-bottom: 49px;
      margin-bottom: 50px;
    }
  }

  &--message {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 53px;
    }
  }
}

.form__group-title {
  position: relative;

  display: inline-block;
  padding: 0;
  margin: 0 0 34px;

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  color: $mainColor;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    flex-basis: 25%;
    padding: 2px 0 0;
    margin: 0;

    background: none;
  }

  &--checkbox {
    margin-bottom: 36px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &--name {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      padding-top: 9px;
    }
  }

  &--mail {
    padding-right: 23px;

    @media (min-width: $tablet-width) {
      padding-right: 0;
    }
  }

  &--no-label {
    margin-bottom: 20px;
  }

  &--message {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding-top: 18px;
    }
  }
}

.form__list {
  @include resetList;

  @media (min-width: $tablet-width) {
    flex-basis: 75%;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__item {
  &:last-child {
    margin-bottom: 0;
  }

  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
  }

  &--checkbox {
    margin-bottom: 43px;

    @media (min-width: $tablet-width) {
      flex-basis: 50%;
      margin-bottom: 58px;
    }
  }

  &--checkbox:nth-child(even) {
    @media (min-width: $tablet-width) {
      padding-left: 11px;
    }
  }

  &--name {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: baseline;
      margin-bottom: 32px;
    }
  }
}

.form__label {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 7px;
  margin-bottom: 12px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  color: $darkText;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &:hover::after {
    border-color: #62d1ba;
  }

  &--custom {
    padding: 0 0 0 62px;
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      padding-left: 80px;
    }
  }

  &--custom::after {
    @include pseudo;
    @include center(11px, 0, 0, -50%);
    @include size(40px);

    border: 2px solid $grayText;
  }

  &--radio::after {
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      @include size(52px);
    }
  }

  &--checkbox::after {
    top: 8px;

    height: 39px;

    @media (min-width: $tablet-width) {
      top: 11px;

      @include size(54px, 52px);
    }
  }

  .form__input--hidden:checked + &--radio::after {
    background-color: #62d1ba;
    box-shadow: inset 0 0 0 10px #ffffff;

    @media (min-width: $tablet-width) {
      box-shadow: inset 0 0 0 13px #ffffff;
    }
  }

  .form__input--hidden:checked + &--checkbox::after {
    background: url("../img/svg/icon-tick.svg") no-repeat center;
    background-size: 22px 16px;

    @media (min-width: $tablet-width) {
      background-size: 33px 22px;
    }
  }

  .form__input--hidden:focus + & {
    &::after {
      border-color: #62d1ba;
    }
  }

  .form__input--hidden:active + & {
    &--checkbox::after {
      border-color: rgba($grayText, 0.3);
    }

    &--radio::after {
      border: none;
      box-shadow: inset 0 0 0 2px rgba($grayText, 0.3), inset 0 0 0 12px #ffffff;
    }
  }

  &--icon {
    position: relative;

    @media (min-width: $tablet-width) {
      flex-basis: 75%;
    }
  }

  &--name {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-right: 25px;
    }
  }
}

.form__text-input {
  &:hover,
  &:focus {
    border-bottom-color: #62d1ba;
    outline: none;
  }

  width: 100%;
  padding: 0 0 15px;

  font-size: 17px;
  font-weight: 400;
  line-height: 18px;

  color: $grayText;
  background: none;
  border: none;
  border-bottom: 2px solid #000000;

  @media (min-width: $tablet-width) {
    padding-left: 16px;
    padding-bottom: 14px;

    font-size: 19px;
  }

  &--icon {
    padding-right: 40px;
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      padding-bottom: 13px;
    }
  }
}

.form__message {
  &:hover,
  &:focus,
  &:active {
    border-color: #62d1ba;
    outline: none;
  }

  width: 100%;
  padding: 15px;

  font-family: $font;
  font-size: 17px;
  line-height: 18px;

  border: 2px solid #000000;

  resize: none;

  @media (min-width: $tablet-width) {
    flex: 1;
    width: auto;

    font-size: 19px;
  }
}

.form__extra {
  margin: 11px 0 31px;

  font-size: 14px;
  line-height: 16px;

  color: $grayText;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.form__btn {
  width: 100%;

  font-family: $font;
  line-height: 16px;

  background: none;

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 230px;
    margin-left: 0;
  }
}

.form__icon {
  position: absolute;
  top: -2px;

  opacity: 0.2;

  pointer-events: none;

  @media (min-width: $tablet-width) {
    top: -4px;
  }

  &--phone {
    right: 8px;

    @media (min-width: $tablet-width) {
      right: 26px;
    }
  }

  &--mail {
    right: -3px;

    @media (min-width: $tablet-width) {
      right: 15px;
    }
  }

  .form__text-input:hover + &,
  .form__text-input:focus + &,
  .form__text-input:active + & {
    fill: #62d1ba;
    opacity: 1;
  }
}

.form__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
