.free-shipping {
  display: none;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-right: $tablet-pads;

    font-weight: 400;
  }
}
