.nav__toggle {
  position: absolute;
  top: 50%;
  right: 31px;
  z-index: 1;

  @include size(30px);
  padding: 0;

  background: url("../img/icon-menu-open.svg") no-repeat center;
  border: none;
  cursor: pointer;

  transform: translateY(-50%);

  &--close {
    @include size(30px);

    background-image: url("../img/icon-menu-close.svg");
  }
}

.nav__list {
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  z-index: 1;

  display: none;
  width: 100%;
  padding: 0;
  margin: 0;

  background: $lightText;
  list-style: none;

  &--show {
    display: block;
  }
}

.nav__link {
  &:hover {
    color: rgba($darkText, $hoverOpacity);
  }

  &:active {
    color: rgba($darkText, $activeOpacity);
  }

  position: relative;

  display: block;
  padding: 26px 0 28px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;

  color: $darkText;
  border-bottom: 1px solid $lightBorderColor;
}

.nav__icon {
  @include center-y;

  left: 32px;

  opacity: 0.2;

  .nav__link:hover & {
    opacity: 1;
  }

  .nav__link:active & {
    opacity: $activeOpacity;
  }
}

.nav__icon-content {
  fill: $darkText;

  .nav__link:hover &,
  .nav__link:active & {
    fill: $mainColor;
  }
}
