.nav {
  position: relative;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    font-size: 15px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
  }
}

.nav__logo {
  display: flex;
  justify-content: center;
  padding: 22px 0;

  border-bottom: 1px solid $lightBorderColor;

  @media (min-width: $tablet-width) {
    flex: 1;
    width: auto;
    min-width: 45%;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 $tablet-pads;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    flex: none;
    display: flex;
    justify-content: center;
    width: 149px;
    min-width: 0;
    padding: 8px 0;
  }
}

.nav__toggle {
  position: absolute;
  top: 24px;
  right: 25px;
  z-index: 1;

  @include size(30px);
  padding: 0;

  background: url("../img/svg/menu-open.svg") no-repeat center;
  border: none;
  cursor: pointer;

  &--close {
    top: 24px;

    @include size(30px);

    background-image: url("../img/svg/menu-close.svg");
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__list {
  display: none;

  @include resetList;

  &--show {
    display: block;
  }
}

.nav__list--pages {
  @media (min-width: $tablet-width) {
    order: 1;
    min-width: 50%;
    padding-left: $tablet-pads;
  }

  @media (min-width: $desktop-width) {
    order: -1;
    flex: none;
    justify-content: flex-end;
    min-width: 0;
    width: calc(50% - 75px);
    padding: 0;
    padding-right: 75px;
    padding-left: $tablet-pads;
  }
}

.nav__list--interface {
  @media (min-width: $tablet-width) {
    width: 398px;
    padding-right: $tablet-pads;
  }

  @media (min-width: $desktop-width) {
    flex: none;
    justify-content: flex-start;
    min-width: 0;
    width: calc(50% - 74px);
    padding-left: 101px;
  }
}

.nav__link {
  &:hover {
    color: rgba($darkText, $hoverOpacity);
  }

  &:active {
    color: rgba($darkText, $activeOpacity);
  }

  position: relative;

  display: block;
  padding: 26px 0 28px;

  text-decoration: none;

  color: $darkText;
  border-bottom: 1px solid $lightBorderColor;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;

    border-bottom: none;
  }
}

.nav__text {
  @media (max-width: $tablet-width - 1) {
    position: relative;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 0 0 82px;

    text-align: left;
  }
}

.nav__only-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__container {
  order: 1;

  @media (min-width: $desktop-width) {
    display: flex;
    width: $desktop-width;
    padding: 0 $tablet-pads;
  }
}

.nav__list--promo {
  @media (min-width: $desktop-width) {
    flex: 1;
  }
}

.nav__free-shipping {
  @media (min-width: $tablet-width) {
    padding-right: $tablet-pads;
  }

  @media (min-width: $desktop-width) {
    flex: 1;
    justify-content: flex-end;
    padding: 0;
  }
}
