.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 176px;
  padding-bottom: 7px;
  margin: 0;

  font-size: 27px;
  line-height: 30px;

  color: $darkText;
  background-color: #f1f1f1;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    min-height: 236px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    min-height: 272px;
    padding-top: 80px;
    padding-bottom: 109px;
    margin: 0 auto;

    font-size: 53px;
    line-height: 57px;
  }
}
