.page-header {
  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    margin-bottom: -41px;
  }
}

.page-header__top {
  position: relative;
}

.page-header__top-container {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
