.product {
  @include cardActions;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  @include transition;
}

.product__img-link {
  display: block;
}

.product__img {
  display: block;
}

.product__body {
  padding: 26px 27px 4px;

  border: 1px solid #ededed;
}

.product__name-link {
  @include hoverOpacity;
  @include activeOpacity;

  display: block;
  margin-bottom: 5px;

  text-decoration: none;

  color: $darkText;
}

.product__name {
  margin: 0;

  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

.product__description {
  margin: 0 0 19px;

  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
}

.product__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 23px;

  border-top: 1px solid $lightBorderColor;
}

.product__price {
  margin: 0;

  font-size: 15px;
}

.product__btn {
  &:focus {
    outline: 1px solid $mainColor;
    outline-offset: 3px;
  }

  @include resetButton;
  @include size(20px);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.product__svg {
  opacity: 0.2;

  .product__btn:hover & {
    opacity: 1;
    fill: $mainColor;
  }

  .product__btn:active & {
    fill: $mainColor;
    opacity: 0.3;
  }
}
