.product {
  @include cardActions;
  @include transition;

  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 316px;
  }
}

.product__img-link {
  display: block;
}

.product__img {
  display: block;
}

.product__body {
  padding: 26px 27px 4px;

  border: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    flex: 1;
    padding: 25px 25px 4px 23px;
  }
}

.product__name-link {
  @include hoverOpacity;
  @include activeOpacity;

  display: block;
  margin-bottom: 5px;

  text-decoration: none;

  color: $darkText;
}

.product__name {
  margin: 0;

  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.product__description {
  margin: 0 0 19px;

  font-size: 13px;
  font-weight: 400;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.product__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 23px;

  border-top: 1px solid $lightBorderColor;

  @media (min-width: $tablet-width) {
    padding-bottom: 22px;
    padding-left: 4px;
    margin-top: auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 22px;
    padding-right: 7px;
  }
}

.product__price {
  margin: 0;

  font-size: 15px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.product__btn {
  &:focus {
    outline: 1px solid $mainColor;
    outline-offset: 3px;
  }

  @include resetButton;
  @include size(20px);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.product__svg {
  opacity: 0.2;

  .product__btn:hover & {
    opacity: 1;
    fill: $mainColor;
  }

  .product__btn:active & {
    fill: $mainColor;
    opacity: 0.3;
  }
}
