.production {
  @include cardActions;

  padding: 23px 33px 32px;

  border: 1px solid $lightBorderColor;

  @include transition;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 40px 45px;

    border-top: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    padding: 46px 60px 60px 758px;

    border: 1px solid $lightBorderColor;
  }
}

.production__title {
  &::before {
    @include pseudo;
    @include center-y;
    left: 0;

    @include size(32px, 22px);

    background: url("../img/svg/video.svg") no-repeat center;
    background-size: 32px;

    @media (min-width: $tablet-width) {
      left: 1px;
    }

    @media (min-width: $desktop-width) {
      left: 0;
      top: 0;

      transform: none;
    }
  }

  position: relative;

  padding-left: 56px;
  margin-bottom: 24px;

  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 65px;
    margin-bottom: 32px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 49px;
  }
}

.production__video {
  position: relative;

  margin: 0 -34px 27px;

  @media (min-width: $tablet-width) {
    order: -1;

    margin: 0 -41px 38px;

    border-bottom: 1px solid $lightBorderColor;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;

    margin: 0;

    border: none;
  }
}

.production__video-img {
  display: block;
}

.production__video-btn {
  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    opacity: 0.3;

    transform: translate(-50%, -50%) scale(0.8);
  }

  @include resetButton;
  @include center;

  cursor: pointer;

  @include transition;
}

.production__text {
  padding: 0;
  margin: 0 0 25px;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;

  color: $grayText;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.production__btn {
  width: 100%;

  font-size: 17px;
}
