.reviews {
  position: relative;

  @media (min-width: $tablet-width) {
    background: url("../img/review@1x.jpg") no-repeat left top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") no-repeat left top;
      background-size: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 13px;

    background: none;
  }
}

.reviews__container {
  position: relative;

  padding-top: 25px;
  padding-bottom: 50px;

  @include zigzagLine;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 77px;
    padding-bottom: 103px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 50px 153px 225px;

    background: url("../img/review@1x.jpg") no-repeat left 50px top;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px;
    }
  }
}

.reviews__title {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    order: -2;
    margin-bottom: 49px;
  }
}

.reviews__slider {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.reviews__list {
  @include resetList;
}

.reviews__text {
  margin: 0 0 27px;

  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  color: $grayText;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    max-width: 800px;
    margin-bottom: 39px;
  }
}

.reviews__author {
  margin: 0 0 3px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  color: $darkText;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__author-nickname {
  margin: 0 0 29px;

  font-size: 17px;
  font-weight: 400;
  line-height: 30px;

  color: $grayText;
}

.reviews__controls {
  &::before {
    content: "";

    @include center(0, 50%, -50%, 0);
    @include size(1px, 100%);

    background-color: $lightBorderColor;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  position: relative;

  display: flex;
  margin-bottom: 38px;

  border: 1px solid $lightBorderColor;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 19px;
    bottom: 33px;

    justify-content: space-between;
    width: 137px;
    margin-bottom: 0;

    border: none;
  }

  @media (min-width: $desktop-width) {
    bottom: 34px;
  }
}

.reviews__btn {
  @include hoverOpacity;
  @include activeOpacity;

  &--next {
    transform: rotate(180deg);
  }

  @include resetButton;

  flex-basis: 50%;
  height: 50px;
  padding: 0;

  background: url("../img/svg/arrow.svg") no-repeat center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    flex-basis: 50px;
  }
}

.reviews__main-btn {
  @media (min-width: $tablet-width) {
    order: -1;
    min-width: 175px;
    margin: 2px 0 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 9px;
  }
}
