.reviews {
  @include zigzagLine;

  position: relative;

  padding: 25px 0 50px;

  @media (min-width: $tablet-width) {
    padding: 77px 0 103px;

    background: url("../img/review@1x.jpg") no-repeat left top;
  }
}

.reviews__container {
  @media (min-width: $tablet-width) {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.reviews__title {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    order: -2;
    margin-bottom: 49px;
  }
}

.reviews__slider {
  position: relative;
}

.reviews__list {
  @include resetList;
}

.reviews__text {
  margin: 0 0 27px;

  font-size: 15px;
  font-weight: 400;
  line-height: 30px;

  color: $grayText;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;

    font-size: 17px;
  }
}

.reviews__author {
  margin: 0 0 3px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;

  color: $darkText;

  @media (min-width: $tablet-width) {
    margin-bottom: 4px;

    font-size: 18px;
  }
}

.reviews__author-nickname {
  margin: 0 0 29px;

  font-size: 17px;
  font-weight: 400;
  line-height: 30px;

  color: $grayText;
}

.reviews__controls {
  &::before {
    content: "";

    @include center(0, 50%, -50%, 0);
    @include size(1px, 100%);

    background-color: $lightBorderColor;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  position: relative;

  display: flex;
  margin-bottom: 38px;

  border: 1px solid $lightBorderColor;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 19px;
    bottom: 33px;

    justify-content: space-between;
    width: 137px;
    margin-bottom: 0;

    border: none;
  }
}

.reviews__btn {
  @include hoverOpacity;
  @include activeOpacity;

  &--next {
    transform: rotate(180deg);
  }

  @include resetButton;

  flex-basis: 50%;
  height: 50px;
  padding: 0;

  background: url("../img/svg/arrow.svg") no-repeat center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    flex-basis: 50px;
  }
}

.reviews__main-btn {
  @media (min-width: $tablet-width) {
    order: -1;
    min-width: 175px;
    margin: 2px 0 0;
  }
}
