.slogan {
  padding: 70px $mobile-pads 122px;
  margin: 0;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  color: $darkText;

  @media (min-width: $tablet-width) {
    padding: 153px 0 373px;

    font-size: 43px;
    line-height: 50px;
  }
}
