.social {
  padding: 25px 0 21px;

  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include resetList;
}

.social__item {
  &:last-child {
    margin-right: 0;
  }

  margin-right: 40px;
}

.social__link {
  &:active {
    opacity: $activeOpacity;
  }
}

.social__icon {
  .social__link:hover &,
  .social__link:active & {
    fill: $mainColorDarker;
  }
}
