.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include resetList;
}

.social__item {
  &:last-child {
    margin-right: 0;
  }

  margin-right: 40px;
}

.social__link {
  &:active {
    opacity: $activeOpacity;
  }

  display: flex;
}

.social__icon {
  .social__link:hover &,
  .social__link:active & {
    fill: $mainColorDarker;
  }
}
