@mixin size($width: 20px, $height: $width) {
  width: $width;
  height: $height;
}

@mixin hoverOpacity {
  &:hover {
    opacity: $hoverOpacity;
  }
}

@mixin activeOpacity {
  &:active {
    opacity: $activeOpacity;
  }
}

@mixin center-x {
  position: absolute;
  left: 50%;

  transform: translate(-50%);
}

@mixin center-y {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

@mixin center($top: 50%, $left: $top, $x: -50%, $y: $x) {
  position: absolute;
  top: $top;
  left: $left;

  transform: translate($x, $y);
}

@mixin pseudo {
  content: "";
  position: absolute;
}

@mixin listReset {
  padding: 0;
  margin: 0;

  list-style: none;
}

@mixin resetButton {
  background: none;
  border: none;
}

@mixin zigzagLine {
  &::after {
    @include pseudo;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 6px;

    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-size: contain;
  }
}

@mixin customUnderline ($color: $darkText) {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 1px;

    background-color: $color;
  }
}
