@mixin size($width: 20px, $height: $width) {
  width: $width;
  height: $height;
}

@mixin hover-opacity {
  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

@mixin active-opacity {
  &:active {
    opacity: 0.3;
  }
}

@mixin center-x {
  left: 50%;

  transform: translate(-50%);
}

@mixin center-y {
  top: 50%;

  transform: translateY(-50%);
}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

@mixin pseudo {
  content: "";
  position: absolute;
}
