html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: $font;
}

img,
video {
  width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0;
}

::-webkit-input-placeholder {
  color: rgba($grayText, 0.3);
}
