$font: "Open Sans", "Arial", sans-serif;
$grayText: #444444;
$darkText: #000000;
$lightText: #ffffff;
$lightBorderColor: #ececec;
$mainColor: #63d1bb;
$mainColorDarker: #46c1ae;
$hoverOpacity: 0.6;
$activeOpacity: 0.3;
